body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 20px;
    background-color: black;
  }
  
  h1,
  h2 {
    color: #a1ce86;
  }
  
  header p {
    color: #76a568;
  }
  
  a {
    color: white;
  }
  
  header p {
    margin-top: -20px;
  }
  
  ul {
    padding: 20px;
  }
  ul li {
    color: #76a568;
    margin-bottom: 5px;
  }
  
  ul li a {
    color: #76a568;
    text-decoration: none;
  }
  
  ul li:hover a {
    color: white;
  }
  
  ul li:hover {
    color: white;
  }
  .main p {
    color: #76a568;
  }
  .side-bar {
    border: 1px solid white;
    position: absolute;
    top: 120px;
    right: 20px;
    max-width: 40%;
  }
  
  .side-bar h3,
  p {
    color: white;
    margin-left: 10px;
  }
  
  footer {
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 2px;
  }