.layout-1 {
    background-color: blueviolet;
  }
  
  .layout-2 {
    background-color: #fc8474;
  }
  
  .layout-2-2 {
    background-color: #5c9ca4;
  }
  
  .layout-3 {
    background-color: #4169e1;
  }
  
  .layout-3-3 {
    background-color: #2f4e4e;
  }
  
  .layout-4 {
    background-color: azure;
    padding-bottom: 20px;
  }
  
  .layout-4-4 {
    display: flex;
    justify-content: center;
  }
  
  .layout-4 p {
    text-align: justify;
  }
  .colgrid1 {
    background-color: white;
    box-shadow: rgba(128, 128, 128, 0.292) 1px 2px 5px 2px;
    padding: 20px;
    height: 25rem;
    border-radius: 10px;
  }
  
  .text-info {
    display: flex;
  }
